.vertical-menu {
    width: 20%;
    float: left;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #285e8e;
    color: white;
}

.conteudo {

    width: 80%;

    float: left;
    height: 900px;

}

.conteudoIFrame {
    width: 100%;
    height: 100%;
}